@{
    ViewData["Title"] = "Inmobiliaria InmoNovara";
}
<h1>@ViewData["Title"]</h1>

<p>Bienvenido a InmoNovara!</p>
<p>  Donde podremos ayudarte a encontrar los mejores precios y bienes raices!</p>
                                                                                   